@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Poppins:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-position: cover;
    margin: 50px;
    display: grid;
    grid-template-rows: 400px 500px;

}

.detail{
    margin-left: 8%;
    margin-top:15%;
}
.detail h1 {
    font-size: 70px;
    color: #ffffff;
    margin-bottom:20px;
    line-height: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 50px;

}
.span{
    color: orange;
}
.detail p{
    color: rgb(255, 255, 255);
    line-height: 22px;
    font-family: 'Poppins', sans-serif;

}
.detail a{
     background: #212121;
     padding: 10px 18px;
     text-decoration: none;
     font-weight: bold;
     color: rgb(51, 183, 111);
     display: inline-block;
     margin: 30px 0;
     border-radius: 5px;
}
.images{
    width: 45%;
    height:80%;
    position: absolute;
    bottom:0;
    right: 100px;
}
.images img {
    height: 100%;
    position: absolute;
    left: 40%;
    bottom:0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}
.course .course-banner img{
    width:300px;
    height: 190px;
}
.course-info{
    display: flex;
    align-items: center;
    margin: 10px;
}
.courses {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    margin-left: 10px;
    

}
.full-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;

 
    margin: 50px;
  
}
.left-section{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 20px;
}
.upcoming-match{

}
.upcoming-match button {
    padding:15px;
    margin: 7px;
    background-color: #212121;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px; font-family: 'Poppins', sans-serif

}
.footer-section{
    width:100%;
    height: 400px;
    background-color:black;
    color: white;
    align-items: center;
}
.footer-title{
    color: white;
    text-align: center;
    
}
.first-btn{
    text-decoration: none;
    color: white;
}
.button{
    padding: 10px;
}
.transfer-button{
    padding: 10px;
    background-color:black;
    color: antiquewhite;
}
.footer-info{
    display: flex;
}